<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Interview Summary</title>
		<link rel="stylesheet" href="css/interviewSummary.css" />
	</head>
	<body>
        <div class="step" style="align-items: center;">
            <img class="logo" src="/assets/logogoose.svg" alt="logo">
        </div>
        <div class="titleContainer">
            <h1>Today's interview</h1>
            <!-- Placeholder -->
            <p>Saturday September 16th, 1:32pm</p>
        </div>
        <div class="statContainer">
            <div class="left">
                <h3>Average Response Metrics</h3>
            </div>
            <div class="right">
                <div class="centerStatBox">
                    <div class="stat">
                        <p>Filter words <span style="width:10px; height:10px; display: inline-block; background:#F55E52; border-radius:50%;"></span></p>
                        <h2>14%</h2>
                    </div>
                    <div class="stat">
                        <p>Pace (wpm) <span style="width:10px; height:10px; display: inline-block; background:#59C490; border-radius:50%;"></span></p>
                        <h2>149</h2>
                    </div>
                    <div class="stat">
                        <p>Duration (s) <span style="width:10px; height:10px; display: inline-block; background:#59C490; border-radius:50%;"></span></p>
                        <h2>127</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="transcriptContainer">
            <h1 class="transcriptTitle">Transcript</h1>

            <div class="transcriptLog">
                <!-- <audio controls>
                    <source class="audio" src="" type="">
                </audio> -->
                  
                <p>Jane:  "Hello, I'm Jane, and I'm excited to meet with you today to discuss your experience and how it aligns with our Product Design role. Let's start by delving into your background and design expertise! Please tell me a little about yourself."</p>
                <p style="font-weight: bold;">You:  "Hi Jane, it’s great to meet you too! I'm uh Martha, and I'm genuinely thrilled to be here today. So um with my previous experience working at nwPlus, I'm eager to like dive into our discussion, about how my design journey aligns with the goals of the Product Design role at Figma."</p>

                <p>Jane:  "Hello, I'm Jane, and I'm excited to meet with you today to discuss your experience and how it aligns with our Product Design role. Let's start by delving into your background and design expertise! Please tell me a little about yourself."</p>
                <p style="font-weight: bold;">You:  "Hi Jane, it’s great to meet you too! I'm uh Martha, and I'm genuinely thrilled to be here today. So um with my previous experience working at nwPlus, I'm eager to like dive into our discussion, about how my design journey aligns with the goals of the Product Design role at Figma."</p>
                
                <p>Jane:  "Hello, I'm Jane, and I'm excited to meet with you today to discuss your experience and how it aligns with our Product Design role. Let's start by delving into your background and design expertise! Please tell me a little about yourself."</p>
                <p style="font-weight: bold;">You:  "Hi Jane, it’s great to meet you too! I'm uh Martha, and I'm genuinely thrilled to be here today. So um with my previous experience working at nwPlus, I'm eager to like dive into our discussion, about how my design journey aligns with the goals of the Product Design role at Figma."</p>

                <p>Jane:  "Hello, I'm Jane, and I'm excited to meet with you today to discuss your experience and how it aligns with our Product Design role. Let's start by delving into your background and design expertise! Please tell me a little about yourself."</p>
                <p style="font-weight: bold;">You:  "Hi Jane, it’s great to meet you too! I'm uh Martha, and I'm genuinely thrilled to be here today. So um with my previous experience working at nwPlus, I'm eager to like dive into our discussion, about how my design journey aligns with the goals of the Product Design role at Figma."</p>
            </div>
        </div>
	</body>
</html>
