<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Page</title>
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/dashboardPage.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;600;700&family=Inter:wght@600&display=swap"
    rel="stylesheet">

  <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</head>

<body>
  <div class="content">
    <img src="/assets/step5bgtr.svg" alt="background" class="bg" style="right: 0; top: 0;">
    <img src="/assets/step5bgbl.svg" alt="background" class="bg" style="bottom: 0; left: 0;">
    <div class="header">
      <img src="/assets/logogoose.svg" alt="logo" />
    </div>
    <h1 id="welcome">How long would you like this interview to be?</h3>
      <div class="buttons">
   
        <button id="selectQuestions" onclick="selectInterview(3)">
          <img class="questionImages" src="/assets/dash1.png"/>
          <h4 class="qtime">10-15 minutes</h4></br></br>
          <h3 class="qNumber">3 Questions</h3>
        </button>

        <button id="selectQuestions" onclick="selectInterview(5)">
            <img class="questionImages" src="/assets/dash2.png"/>
            <h4 class="qtime">15-20 minutes</h4></br></br>
            <h3 class="qNumber">5 Questions</h3>
          </button>

          <button id="selectQuestions" onclick="selectInterview(8)">
            <img class="questionImages" src="/assets/dash3.png"/>
            <h4 class="qtime">20-25 minutes</h4></br></br>
            <h3 class="qNumber">8 Questions</h3>
          </button>
      </div>
  </div>

  <div id="loading" style="display: none">
    <img src="/assets/step5bgtr.svg" alt="background" class="bg" style="right: 0; top: 0;">
    <img src="/assets/step5bgbl.svg" alt="background" class="bg" style="bottom: 0; left: 0;">
    <!-- <img class="gooseGifLoad" src="/assets/gooseLoading.gif" /> -->
    <div class="iconsLoading">
      <lord-icon
          src="https://cdn.lordicon.com/zpxybbhl.json"
          trigger="loop"
          colors="primary:#121331,secondary:#08a88a"
          style="width:250px;height:250px">
      </lord-icon>
      <lord-icon
          src="https://cdn.lordicon.com/nocovwne.json"
          trigger="loop"
          delay="2000"
          colors="primary:#121331,secondary:#08a88a"
          style="width:250px;height:250px">
      </lord-icon>
      <lord-icon
          src="https://cdn.lordicon.com/rulhujcg.json"
          trigger="loop"
          delay="2000"
          colors="primary:#08a88a,secondary:#121331"
          style="width:250px;height:250px">
      </lord-icon>
      <lord-icon
          src="https://cdn.lordicon.com/nxaaasqe.json"
          trigger="loop"
          colors="primary:#121331,secondary:#08a88a"
          style="width:250px;height:250px">
      </lord-icon>
    </div>
    <h2 class="loadText">Please wait while we generate some questions...</h2>
  </div>

  <script>
    // function newInterview() {
    //   window.location.href = "/interview";
    // }
    function selectInterview(numberOfQuestions) {
      // displays loading
      document.getElementById("loading").style.display="block";

      // update the # of questions on firebase
      fetch(`/quiz/newInterview?q=${numberOfQuestions}`, {
        method: 'GET'
      }).then((resp) => {
        setTimeout(() => {
          window.location.href = "/interview";
        }, 2000);
      })
    }
  </script>
</body>
</html>