html {
  background-color: #141F1F;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#videoElement {
  height: 70vh;
  margin-left: 0px;
  background: #141F1F;
  transform: scaleX(-1);
}