* {
  font-family: 'Hanken Grotesk', sans-serif;
}

.bg {
  position: absolute;
  width: 25vh;
  margin: 0;
  z-index: -1;
}

.logo {
  align-self: center;
  width: 60px;
  position: relative;
  margin-top: 50px;
  margin-left: 10%;
}

.titleContainer {
  width: 80%;
  position: relative;
  margin: 0 auto;
  display: block;
}

#title {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 60 !important;
  font-weight: 700;
  margin-bottom: 0px;
}

.statContainer {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.left {
  float: left;
  width: 40%;
}

.right {
  float: right;
  /* width: 80%; */
  position: relative;
  /* background: red; */
}

.centerStatBox {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
}

.stat {
  float: left;
  border-radius: 20px;
  border: 1px solid #A0BCB6;
  padding: 4px 24px;
  margin: 0px 10px;
  margin-top: -25px;
}

.transcriptContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 170px;
}

.transcriptTitle {
  text-align: center;
  font-size: 26px;

}

.transcriptLog {
  border-radius: 24px;
  border: solid 2px #CBE3E2;
  padding: 20px;
}