.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15%;
}

.bg {
  position: absolute;
  width: 40vh;
  margin: 0;
  z-index: -1;
}

.logo {
  align-self: center;
  width: 90px;
  margin-bottom: 50px;
}

#welcome {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 24px;
}